<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<% if (user) { %>
<h1 class="new-meal-title"><%= title %></h1>
  <form class="workout-container" action="/profile/<%= user?.profile._id %>?_method=PATCH" method="post">
    <input type="number" name="heightFt" placeholder="Enter Feet">
    <input type="number" name="heightIn" placeholder="Enter Inches">
    <input type="number" name="weight" placeholder="Enter Weight">
    <input type="number" name="age" placeholder="Enter Age">
    <select name="sex" >
      <option value="male">
        male
      </option>
      <option value="female">
        female
      </option>
    </select>
    <button type="submit">Save</button>
  </form>

  <% } else { %>
  
    <h1>Please Log in to Continue</h1>

  <% } %>

<%- include('../partials/footer') %>