<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<% if (user) { %>

<h1>Welcome <%= profile.name %></h1>
<img src="<%= profile.avatar %> " alt="profile picture">
  


<% if (profile.age) {%>
  <div> Age: <%= profile.age%> </div>
  <div> Height: <%= profile.heightFt%>ft <%= profile.heightIn %>in  </div>
  <div> Todays Weight: <%= profile.weight[0]%> </div>
  <div> Calorie Budget: <%= profile.calorieLimit%> </div>
  
  <form action="/profile/edit" method="get">
    <button type="submit">Change Personal Info</button>
  </form>
  <form action="/profile/editWeight" method="get">
    <button type="submit">Record New Weight</button>
  </form>

  
  <% if (!!profile) { %>
    
    <a href="/profile/calories/edit"> <button type="submit">Add Calorie Budget</button></a>
    
    
    <form action="/profile/<%=profile._id %>/meals" method="post">

      <select name="meals">
        <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
        <% }) %>
      </select>
      
      <button type="submit">Add Meal</button>
    </form>

    
      <% if (profile.meals) { %>
        
        <% profile.meals.forEach(meal => { %>
          <div><%= meal.name %> </div>
          <div><%= meal.calories %> </div>
        <% }) %>

      <% } %>

      
    <% } %>
    <% } else { %>
      
      <div>Add your data to create a log</div>
      <a href="/profile/new"><button type="submit"> Add Data</button></a>
      
      <% } %>
      
      <% } else { %>
        
        <h1>Please Log in to Continue</h1>
        
        <% } %>
        <%- include('../partials/footer') %>