<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %></h1>

  
  <%= Age: profile.age%> 
  <%= Weight: profile.weight%> 
  <%= Height:  profile.height%> 

<%- include('../partials/footer') %>