<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<% if (user) { %>
<div class="main-container">
  
  <div class="user-info">
    <img src="<%= profile.avatar %> " alt="profile picture">
    <h1><%= profile.name %></h1>
    
  </div>
    <% if (profile.age) {%>
    
    <div class="daily-summary">
      <h3 class="ds-title">Daily Summary</h3>

  <div class="calories-remaining ">
    <h3 class="remaining"><%= profile.calorieLimit - sum %> </h3>
    <h3>Calories Remaining</h3>
  </div>
  
  <div class="buttons">
    
    <form action="/profile/editWeight" method="get">
      <button type="submit" class="shadow">Record New Weight</button>
    </form>
    
    <% if (!!profile) { %>   
      <form action="/profile/calories/edit" method="get">
        <button type="submit" class="shadow">Add Calorie Budget</button>
      </form>
      
    </div>
      
      
      <div class="calorie-limit shadow"> 
        <h3><%= profile.calorieLimit%> </h3>
        <h3>Calorie Budget</h3>
      </div>
      <div class="calories-consumed shadow">
        <h3><%= sum %> </h3>
        <h3> Calorie Consumed</h3> 
      </div>
      
    </div>
    
    <div class="user-card">
      <div> Age: <%= profile.age%> </div>
      <div> Height: <%= profile.heightFt%>ft <%= profile.heightIn %>in  </div>
      
      <div> Todays Weight: <%= profile.weight[0]%> </div>
      <form action="/profile/edit" method="get">
        <button type="submit">Change Personal Info</button>
      </form>
    </div>
  </div>
  <div class="bottom-container">

    <div class="workouts">
      <h2 class="workout-title">Work Outs</h2>
      <% profile.workouts.forEach(workout => { %>
        <div class="workout">
          <h3><%= workout.name %> </h3>
          <h5>Duration: <%= workout.duration %> min </h5>
          <h5>Average Heart Rate: <%= workout.heartRateAvg %> bpm</h5>
          <form action="/profile/workout/<%= user?.profile._id %>/<%=workout._id%>?_method=DELETE" method="post">
            <button type="submit">X</button>
            </form>
        </div>
          <% }) %>
    </div>

    
    <div class="meals">   
    <form action="/profile/<%=profile._id %>/meals" method="post">
      <select name="meals">
        <% meals.forEach(meal => { %>
          <option value="<%= meal._id %>"><%= meal.name %></option>
          <% }) %>
        </select>
        
        <button type="submit">Add Meal</button>
      </form>
      
      
      
        
        
        
        <% if (profile.meals) { %>
          
          <% profile.meals.forEach(meal => { %>
            <div><%= meal.name %> </div>
            <div><%= meal.calories %> </div>
            <% }) %>
          </div>    
          
          <form action="/profile/meal/<%= profile._id %>?_method=DELETE" method="post">
            <button type="submit">Clear Meals</button>
          </form>
          <% } %>
        </div>
          
          
          <% } %>
          <% } else { %>
            
            <div>Add your data to create a log</div>
            <a href="/profile/new"><button type="submit"> Add Data</button></a>
            
            <% } %>
            
            <% } else { %>
              
              <h1>Please Log in to Continue</h1>
              
              <% } %>
</div>
            <%- include('../partials/footer') %>