<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= title %></h1>

  
  <div> Age:<%= profile.age%> </div>
  <div> Height:<%= profile.height%> </div>
  <div> Weight:<%= profile.weight%> </div>

<form action="/profile/edit" method="get">
  <button type="submit">Change Personal Info</button>
</form>

<%- include('../partials/footer') %>