<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<% if (user) { %>
<h1 class="new-meal-title"><%= title %></h1>

<form class="workout-container" action="/profile/weight/<%= user?.profile._id%>?_method=PATCH" method="post">
  <input type="number" name="weight" placeholder="weight">
  <button class="button-data" type="submit">Save new Weight</button>
</form>


<% } else { %>
  
  <h1>Please Log in to Continue</h1>

<% } %>

<%- include('../partials/footer') %>