<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
      <a href=""></a>
    </div>
  <% } %>
    
    <form action="/profile/edit" method="get">
      <button type="submit">Change Personal Info</button>
    </form>
    <form action="/profile/<%= user?.profile._id %> " method="get">
      <button type="submit">Go to your profile</button>
    </form>
    
    

</main>

<%- include('./partials/footer') %>
