<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { console.log(user.profile.name) %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
      <a href=""></a>
    </div>
  <% } %>
  <% if (!user?.profile.age) { %>
    <form action="/profile/<%= user?.profile._id%>" method="post">
      <input type="number" name="height" placeholder="Enter Height">
      <input type="number" name="weight" placeholder="Enter Weight">
      <input type="number" name="age" placeholder="Enter Age">
      <select name="sex" >
        <option value="male">
          male
        </option>
        <option value="female">
          female
        </option>
      </select>
      <button type="submit">Save</button>
    </form>
    <% } %>


</main>

<%- include('./partials/footer') %>
