<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1><%= title %> </h1>
      <% if (user?.profile) { %>
        <a href="/meals/new">
          <button type="submit">Add New Meal</button>
        </a>
        <% } %>
    </div>
  </div>
  <div>  
    <div class="row">
      <% meals.forEach(meal => { %>
        <div class="col-4">
          <h1><%= meal.name %> </h1>
          <h3><%= meal.calories %> </h3>
          <% if (user?.profile) { %>
            <form action="/meals/<%=meal._id%>?_method=DELETE" method="post">
              <button type="submit">Delete Meal</button>
            </form>
            <% } %>
        </div>
          <% }) %>
    </div>        
  </div>
</div>


  


<%- include('../partials/footer') %>