<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="meals-header">
      <h1 class="meal-title"><%= title %> </h1>
      <% if (user?.profile) { %>
        <a href="/meals/new">
          <button type="submit">Add New Meal</button>
        </a>
      </div>
        <% } %>
      <div class="meal-list">
        <% meals.forEach(meal => { %>
          <div class="meal-item">
            <h1><%= meal.name %> </h1>
            <h3>Kcals: <%= meal.calories %> </h3>
            <% if (user?.profile) { %>
              <form action="/meals/<%=meal._id%>?_method=DELETE" method="post">
                <button type="submit">X</button>
              </form>
            </div>
              <% } %>
            <% }) %>  
          </div>
  


<%- include('../partials/footer') %>